<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicqapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launchericon"
        android:label="MusicQApp"
        android:roundIcon="@drawable/launchericon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicQApp">
        <activity android:name=".EditAlbumActivity"></activity>
        <activity android:name=".AddAlbum" />
        <activity android:name=".SongsEditActivity" />
        <activity android:name=".SongsAddActivity" />
        <activity android:name=".AlbumDetailsActivity" />
        <activity android:name=".AlbumsActivity" />
        <activity android:name=".QueuedSongsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>